/* 2023-11-27 allt detta tillagt här i code.scss: */
.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

img {
    max-width: 30em;
}

/* Bengt Tillagt 2023-11-20 start */
.logo {
    padding: 1em 1em 1em 0;
    margin-left: 0.1em;
    max-width: 0.2em;
}
/* Bengt Tillagt 2023-11-20 slut */
