
/* @media (max-width: 767px) {   ändrat 2023-11-26 */
@media (max-width: 920px) {

    /* tillagt 2023-11-29 start */
    head,
    .header,
    .main,
    .footer {
        width: 30rem;
        margin-bottom: 0.98rem;
        margin: 0.98rem auto;
    }
    /* tillagt 2023-11-29 slut  */

    .header {
        flex-direction: column;
    }

    /* Bengt Tillagt 2023-11-20 start */
    .logo {
        padding: 1em 1em 1em 0;
        margin-left: 0.1em;
        max-width: 0.2em;
    }
    /* Bengt Tillagt 2023-11-20 slut */

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
    /* tillagt 2023-11-28 */
    img {
        max-width: 10em;
    }
    p,
    h1,
    h2,
    h3 {
        @include font-size-and-more-mobile;
        /* font-size: 1.4em;
        line-height: 1.4;
        width: 64rem;
        margin-bottom: 1.96rem;
        margin: 1.96rem auto;
        color: #333;
        letter-spacing: 1px;  */
    }
    a {
        @include font-size-and-more-mobile;
    }

}
