/* .footer {
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
}  */

.footer {
    background-color: $background-color-footer;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
}

.social-text {
    display: inherit;
    max-width: 70%;
}

.social {
    display: inherit;
    border-top: 15em;
    max-width: 30%;
}