.footer {
    background-color: $background-color-header-footer;
    display: flex;
    flex-direction: row;
    max-width: 98%;
}

.social-text {
    display: inherit;
    max-width: 70%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 15em;
    max-width: 25%;
}

.sr-only {
    border: 1px solid #ccc;
    padding: 1rem;
}