/* för class=header */
/* .header {
    /* max-width: $max-width;  /* 2023-12-23 */
    /* max-width: 98%; kommentar 2023-12-24 kl 00:46 */
    /* margin-bottom: 1.96rem;  kommentar 2023-12-23 start
    margin: 1.96rem auto;  slut 2023-12-23
}  */

.header {
    background-color: $background-color-header;
    max-width: 98%;
    display: flex;  /* tillagt 2023-12-23 kl 23:56 */
    flex-direction: row;  /* tillagt 2023-12-23 kl 23:56 */
    justify-content: space-between;   /* tillagt 2023-12-23 kl 23:56 */
}

/* .site-header {
}   */

/* för class=nav */
.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #333;
}

/* Röd textfärg då sidan är aktiv */
.active a {
    color: #F00;
}

.nav-toggle {
    display: none;
}

img {
    max-width: 50%;
    display: block;
}

.logo img {
    padding: 1em 1em 1em 0;
    margin-left: 0.1em;
    min-width: min-content;
}