.main {
    /* width: 64rem;  ändrat 2023-12-06 */
    /* width: $max-width;  ändrat 2023-12-06  */
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
    background-color: $background-color-main;
}