.main {
    /* margin-bottom: 1.96rem; kommentar start 2023-12-23 
    margin: 1.96rem auto;   slut 2023-12-23 */
    background-color: $background-color-main;
    max-width: 98%;  /* tillagt 2023-12-23 */
}