@media (max-width: $max-width-tablet) {    
    head,
    .body,
    .header,
    .main,
    .footer {
        width: 98%;
        margin-bottom: 0.98rem;
        margin: 0.98rem auto;
    }

    .header {
        flex-direction: column;
    }

    .logo {
        padding: 1em 1em 1em 0;
        margin-left: 0.1em;
        max-width: 0.2em;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2.2em;
        margin: 0.25em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    img {
        max-width: 80%;
        display: block;
    }

    a,
    p,
    h1,
    h2,
    h3 {
        @include font-size-and-more-tablet;
    }

}
