.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.menu-tech {
    background-color: greenyellow;
    padding: 1em;
}

.content-text {
    background-color: mediumaquamarine;
    padding: 1em;
}
