.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.menu-tech {
    background-color: #adff2f;
    padding: 1em;
}

.content-text {
    background-color: #66cdaa;
    padding: 1em;
}
