.old-fashioned {
    font-size: 1.4em;
    line-height: 1.4;
    width: 64rem;
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
    color: #333;
    letter-spacing: 1px;
}

.modern {
    font-size: 1.4em;
    line-height: 1.4;
    width: 64rem;
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
    color: #333;
    letter-spacing: 1px;
}

.worst-ever {
    font-size: 1.4em;
    line-height: 1.4;
    width: 64rem;
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
    color: greenyellow;
    letter-spacing: -9px;
}