.container-flex {
    display: flex;
    flex-direction: row;
}

.div1 {
    background-color: #800080;
    color: #f00;
}

.div2 {
    background-color: #00f;
    color: #ff0;
}

.div3 {
    background-color: #008000;
    color: #f5f5f5;
}