.container-flex {
    display: flex;
    flex-direction: row;
}

.div1 {
    background-color: purple;
    color: red;
}

.div2 {
    background-color: blue;
    color: yellow;
}

.div3 {
    background-color: green;
    color: whitesmoke;
}