a, 
p,
h1,
h2,
h3 {
    @include font-size-and-more;
}

a:hover {
    background-color: $background-color-a-hover;
}

p {
    font-family: $main-font;
    color: $font-color $font-alternative-color;   /* nytt 2023-12-06 19:57 */
}

h1,
h2,
h3 {
    font-family: $header-font;
}

table,
td,
th,
tr {
    border: 1px solid;
}