/* Fonts from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto&display=swap');

$header-font: 'Merriweather', serif;
$main-font: 'Roboto', sans-serif;

$font-color: #333;
$font-alternative-color: #00008b;
$accent-color: #ee6c4d;

/* $background-color-body: #8a2be2;  */
@mixin background-color($background-color-body: #DDA0DD) {
    background-color: $background-color-body;
    box-shadow: 0 0 1px rgba($background-color-body, 0.3);
    color: #fff;
}
$background-alternative-color: #5f9ea0;
$background-color-header: #00FFFF;
$background-color-main: #fff;
$background-color-footer: #00ffff;
