$header-font: 'Merriweather', serif;
$main-font: 'Roboto', sans-serif;

$font-color: #333;
$font-alternative-color: #00008b;
$accent-color: #ee6c4d;

/* $max-width: 75rem;  2023-12-09  eller 64rem ?*/
$max-width: 80rem;  /* 2023-12-18 från 75rem*/
/* $max-width-tablet: 50rem;  2023-12-23 */
/* $max-width-tablet: 1200px;  /* ändrat 2023-12-24 kl 00:03 */
$max-width-tablet: 960px;  /* ändrat 2023-12-24 kl 00:03 fr 1100 till 960 kl 00:48 */
/* $max-width-mobile: 15rem;  2023-12-23 ändrat */
$max-width-mobile: 320px;

@mixin font-size-and-more() {
    font-size: 1.4em;
    line-height: 1.4;
    /* width: $max-width;  2023-12-09 */
    margin-bottom: 1.96rem;
}

@mixin font-size-and-more-tablet() {
    font-size: 1em;
    line-height: 0.9;
    margin-bottom: auto;  /* tillagt 2023-12-24 kl 00:58  */
}

@mixin font-size-and-more-mobile() {
    /* font-size: 0.7em;  ändr 2023-12-23 */
    font-size: 0.9em;
    line-height: 0.9;
    margin-bottom: auto;  /* tillagt 2023-12-24 kl 00:58  */
}

$background-color-body: #DDA0DD;
$background-alternative-color: #5f9ea0;
$background-color-header: #0FF;
$background-color-main: #fff;
$background-color-footer: #0ff;
$background-color-a-hover: #DC143C;

.typsnitt-rubrik {
    font-family: $header-font;
}

.typsnitt-text {
    font-family: $main-font; 
}
